services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: datatransform_app
    volumes:
      - .:/var/www/html
    ports:
      - "8000:8000"
    environment:
      - APP_ENV=local
      - APP_DEBUG=true
      - DB_CONNECTION=sqlite
      - DB_DATABASE=/var/www/html/database/database.sqlite
    networks:
      - laravel-network

networks:
  laravel-network:
    driver: bridge
